:root {
  --color-primary: #2F80ED;
  --color-primary-dark: #1f5dad;
  --color-tertiary: #00f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(1, 139, 176);
  background: linear-gradient(171deg, rgba(1, 139, 176, 0.7010154403558299) 0%, rgba(255, 255, 255, 1) 91%);
}

* {
  box-sizing: border-box;
}

main {
  margin: 2em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  border-radius: 5px;
  padding: 0.5rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background: var(--color-primary);
  color: #fff;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background: var(--color-primary-dark);
  transform: scale(1.05);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.profilePic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  transition: all 0.5s ease;
}

.profilePic:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}